<form method="post" action="{{ path('marcador_delete', {'id': marcador.id}) }}" onsubmit="return confirm('Esta seguro de eliminar el registro?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marcador.id) }}">
    <button class="btn" style="background:white;">
        <i class="fas fa-trash" style="color:red;"></i>
    </button> 
    
</form>

