{% extends 'base.html.twig' %}

{% block title %}Editar Etiqueta{% endblock %}

{% block contenedor_principal %}
        <div class="row">
            <div class="col-6 text-left">
                <h1>Editar etiqueta</h1>
            </div>
            <div class="col-6 text-right mt-2">
                <a class="btn btn-outline-info" href="{{ path('etiqueta_index') }}" title="Gestión de etiquetas" ><i class="fas fa-undo"></i></a>
            </div>
        </div>

    {{ include('etiqueta/_form.html.twig', {'button_label': 'Guardar'}) }}
<!--
    {{ include('etiqueta/_delete_form.html.twig') }}
    -->
{% endblock %}
