{% extends 'base.html.twig' %}

{% block title %}Nueva Etiqueta{% endblock %}

{% block contenedor_principal %}
    <div class="row">
        <div class="col-6 text-left">
            <h1>Crear nueva etiqueta</h1>
        </div>
        <div class="col-6 text-right">
            <a href="{{ path('etiqueta_index') }}" title="Gestión de etiquetas" ><i class="fas fa-undo"></i></a>
        </div>
    </div>
    

    {{ include('etiqueta/_form.html.twig') }}

    
{% endblock %}
