<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Subastas
      {% endblock %}
    </title>
    {% block stylesheets %}
      <link rel="stylesheet" href="/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/css/open-iconic-bootstrap.css" />
      <link rel="stylesheet" href="/css/offcanvas.css" />
      <link rel="stylesheet" href="/css/general.css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
      {% block css_propio %}
      {% endblock %}
    {% endblock %}
  </head>
  <body class="bg-light">
    {% block body %}
      {% block menu %}
        {% include 'comunes/_menu.html.twig' %}
      {% endblock %}
      <div role="main" class="container">
        {% block contenedor_principal %}

        {% endblock %}
      </div>
      {% block javascript %}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/offcanvas.js"></script>
        <script src="/js/general.js"></script>
        {% block js_propio %}
        
        {% endblock  %}
      {% endblock %}
    {% endblock %}
  </body>
</html>
