{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block contenedor_principal %}
 {% include 'comunes/_mensajes.html.twig' %}    
    <div class="row">
        <div class="col-6"><h1>Editar Usuario</h1></div>
        <div class="col-6 text-right"><a class="btn btn-outline-info" href="{{ path('user_index') }}" title="Gestión de usuarios"><i class="fas fa-undo"></i></a></div>
    </div>

    {{ include('user/_form.html.twig', {'button_label': 'Guardar'}) }}

{% endblock %}
