<p>
    <h1>Bienvenido {{ user.email }}!!</h1>
</p>
<p>
    <a href="{{ url_activa_usuario }}" class="btn btn-outline-success">Activa tu cuenta</a>
</p>
<p class="text-center">
    <img src="https://media.istockphoto.com/vectors/cute-white-robot-character-vector-vector-id1187576166?b=1&k=6&m=1187576166&s=612x612&w=0&h=mvMVZc857jMdhFENqY0JCK0jc2JajMbQUKz8t9OB1xk=" width="300px" height="300px"/>
</p>
